@import "global";
@import "vars";

//start header
.header {
    font-family: 'Montserrat';
    min-height: 700px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    &_inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 40px;
    }
    &_logo {
        font-size: 34px;
        font-weight: 700;
        color: #000;
    }
    &_menu {
        li {
            display: inline-block; 
            & + li {
                margin-left: 20px;
            }   
        }
        a {
            color: #000;
            text-transform: uppercase;
            font-weight: 500;
            background-color: transparent;
            padding: 5px 10px;
            transition: all .3s;
            &:hover {
                color: #fff;
                background-color: $blue;
            }
        }
    }
    &_social {
        display: flex;
    }
    &_social img {
        padding-top: 10px;
    }
    &_social a {
        width: 36px;
        height: 36px;
        border-radius: 50%;
        background-color: #000;
        line-height: 36px;
        text-align: center;
        & + a {
            margin-left: 10px;
        }
    }
    &_title {
        margin-top: 140px;
        font-family: 'Playfair Display';
        font-size: 50px;
        font-style: italic;
        color: #000;
        text-align: center;
        margin-bottom: 10px;
    }
    &_subtitle {
        color: #fff;
        font-style: italic;
        text-align: center;
        font-size: 24px;
        font-family: 'Playfair Display';
        margin-bottom: 150px;
    }
    &_slider {
        max-width: 1030px;
        margin: 0 auto 0px;
        box-shadow: 0px -8px 30px 0px rgba(143, 79, 79, 0.34);
    }
    &_box {
        max-width: 1030px;
        margin: 0 auto;
        background-color: #fff;
        background-image: url(../images/header/corner.png);
        background-position: left top;
        background-repeat: no-repeat;
        min-height: 600px;
        position: relative;
        .tab_content_number {
            position: absolute;
            right: 0;
            color: #fff;
            background-color: #000;
            padding: 8px 18px 8px 8px;   
        }
        &_inner {
            display: flex;
            padding: 50px;
        }
        &_slider {
            width: 100%;
            max-width: 460px;
            position: relative;
            margin-right: 40px;
            &_big {
                margin-right: 40px;
                max-width: 350px;
            }
            &_small {
                position: absolute;
                right: 0;
                top: 30px;
                max-width: 75px;
            }
        }
        .big_slider_item {
            height: 475px;
            background-repeat: no-repeat;
            background-position: center center;
            background-repeat: no-repeat;
        }
        .small_slider_item {
            width: 70px;
            height: 70px;
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
        }
    }
    
    .header_box_tab {
        width: 100%;
        max-width: 400px;
    }
    .tab_content_title {
        font-size: 20px;
        font-weight: 700;
        margin-bottom: 13px;
    }
    .tab_content_raiting {
        color: #838383;
        margin-bottom: 40px;
        span {
            font-size: 13px;
            font-weight: 700;
        }
        .tab_content_number {
            font-weight: 500;
        }
    }
    .rate_star {
        display: inline-block;
    }
    .tab-item {
        display: none;
        &:first-child {
            display: block;
        }
    }
    .tabs {
        margin-bottom: 25px;
        text-transform: uppercase;
        cursor: pointer;
        span + span {
            margin-left: 40px;
        }
        color: #c0c0c0;
        border-bottom: 1px solid #c0c0c0;
        padding-bottom: 10px;
        .tab.active {
            color: #000;
            font-weight: 700;
            padding-bottom: 8px;
            border-bottom: 3px solid $blue;
        }   
    }
    .tab-item_description {
        font-family: 'Raleway';
        font-size: 16px;
        color: #787878;
        line-height: 24px;
        margin-bottom: 80px;
    }
    .jq-ry-container .jq-ry-group-wrapper .jq-ry-group svg:last-child {
        stroke: #000;
        stroke-width: 8;
    }
    .tab-item_price {
        display: inline-block;
        font-size: 24px;
        font-weight: 700;
        margin-right: 30px;
    }
    .tab-item_btn {
        color: #fff;
        text-align: center;
        background-color: $blue;
        text-transform: uppercase;
        padding: 16px 28px;
        font-weight: 700;
        margin-bottom: 50px;
    }
    .tab_content_btn a {
        font-size: 16px;
        color: $blue;
        padding-bottom: 5px;
        border-bottom: 2px solid $blue;
    }
   .slick-vertical .slick-slide {
        border: none;
        margin-bottom: 5px;
   }

   .header_slider {
        position: relative;
    }
    .header_slider_btn {
        position: absolute;
    }
    .next,
    .prev {
        width: 40px;
        height: 40px;
        line-height: 40px;
        position: absolute;
        z-index: 5;
        outline: none;
        background: #f2d800;
        border: none;
        cursor: pointer;
    }
    .next {
        right: -40px;
        top: 50px;
        background-image: url(../images/icons/arrow_right.png);
        background-position: center center;
        background-repeat: no-repeat;
    }
    .prev {
        left: 990px;
        top: 50px;
        background-image: url(../images/icons/arrow_left.png);
        background-position: center center;
        background-repeat: no-repeat;
    }
}
//end header

//start about
.about {
    margin-top: 200px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 640px;
    position: relative;
    margin-bottom: 400px;
    &_box {
        max-width: 535px;
        padding: 70px;
        background-color: #fff;
        position: absolute;
        top: 50%;
        &_title {
            font-size: 18px;
            text-transform: uppercase;
            font-family: 'Montserrat';
            padding-bottom: 35px;
            position: relative;
            font-weight: 700;
            text-align: center;
            &::after{
                content:"";
                background-image: url(../images/icons/x_icon.png);
                position: absolute;
                height: 13px;
                width: 13px;
                bottom: 0;
                left: 50%;
                transform: translateX(-50%);
            }
        }
        &_text {
            font-size: 18px;
            font-style: italic;
            font-family: 'Playfair Display';
            line-height: 38px;
            margin-top: 20px;
            margin-bottom: 30px;
        }
        &_btn {
            font-size: 16px;
            color: $blue;
            padding-bottom: 5px;
            border-bottom: 2px solid $blue;
        }
    }
    &_video {
        position: absolute;
        bottom: -300px;
        right: 225px;
        z-index: 2;
        min-height: 300px;
    }
}
//end about

//start slider
.slider{
    padding-top: 100px;
    padding-bottom: 100px; 
    &_inner {
        padding-right: 20px;
        padding-left: 20px;
    }
    &_item {
        padding: 25px 50px;
        width: 260px;
        border-radius: 4px;
        background-color: #fff;
        box-shadow: 10px 17.321px 50px 0px rgba(0, 0, 0, 0.3);
        text-align: center;
        &_images {
            width: 100px;
            height: 100px;
            border-radius: 50%;
            background-repeat: no-repeat;
            background-size: cover;
            margin: 0 auto 15px;
        }
        &_name {
            font-size: 18px;
            font-family: 'Montserrat';
            font-weight: 500;
            color: $blue;
            line-height: 24px;
        }
        &_email {
            padding-bottom: 25px;
            position: relative;
            color: #8c8c8c;
            display: block;
            position: relative;
            &::after {
                position: absolute;
                content:"";
                bottom: 0;
                left: 50%;
                transform: translateX(-50%);
                background-image: url(../images/icons/waves.png);
                width: 31px;
                height: 6px;
            }
        }
        &_address {
            margin-top: 13px;
            color: #8c8c8c;
            position: relative;
            .address_image {
                width: 11px;
                height: 14px;
                display: inline-block;
            }
            .address {
                margin-left: 5px;
            }
        }
    }
    .slick-prev {
        position: absolute;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background-color: #fff;
        background-image: url(../images/icons/arrow_blue_left.png);
        box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.16);
        border: 1px solid rgb(230, 230, 230);
        background-position: center center;
        background-repeat: no-repeat;
        left: -50px;
        top: 50%;
        transform: translateY(-50%);
        outline: none;
    }
    .slick-next {
        background-image: url(../images/icons/arrow_blue_right.png);
        right: 100%;
        box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.16);
        border: 1px solid rgb(230, 230, 230);
        background-position: center center;
        background-repeat: no-repeat;
        right: -50px;
        top: 50%;
        transform: translateY(-50%);
        position: absolute;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background-color: #fff;
        outline: none;
    }
    // .slick-slide {
    //     max-width: 260px;
    // }
    .slick-slide.slick-current {
        .slider_item {
            background-color: $blue;
            &_name {
                color: #fff;
            }
            &_email {
                color: #fff;
            }
            &_address {
                color: #fff;
            }
        }
    }
    .slick-slide:nth-child(even) {
        .slider_item {
            margin-top: 30px;
            z-index:2;
        }
    }
    .slick-track {
        height: 350px;
    }
}
//end slider

//start update
.update_inner {
    padding-left: 150px;
    padding-right: 150px;
    text-align: center;
    .update_btn a {
        color: #fff;
        font-weight: 700;
        font-family: 'Montserrat';
        padding: 15px 30px;
        background-color: $blue;
        text-align: center;
        text-transform: uppercase;
    }
}
.update_title {
    font-size: 18px;
    text-transform: uppercase;
    font-family: 'Montserrat';
    padding-bottom: 35px;
    position: relative;
    font-weight: 700;
    text-align: center;
    margin-bottom: 40px;
    &::after{
        content:"";
        background-image: url(../images/icons/x_icon.png);
        position: absolute;
        height: 13px;
        width: 13px;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
    }
}
.update_box {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
    text-align: left;
    &_item {
        max-width: 270px;
        box-shadow: 0px 2px 30px 0px rgba(0, 0, 0, 0.2);
        width: 100%;
        &_images {
            min-height: 200px;
            background-position: top center;
            background-size: cover;
            background-repeat: no-repeat;
            width: 100%;
        }
    }
    &_text {
        padding: 25px 40px 25px 25px;
        font-size: 16px;
        color: #787878;
        &:hover {
            color: #0022ff;
        }
    }
}
